header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: left;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: left;
}


/*.me {
    background: linear-gradient(
    var(--color-primary) , transparent);
    width: 320px;
    height: 370px;
    z-index:21;
    pointer-events:none;
    margin-left:-20;
    width:444px;
    min-width:444px;
    height:444px;
    margin-top:-3472px;
    margin-bottom:3028px;
    min-height:444px;
    position: relative ;
    float: right;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 10rem 10rem 0 0;
    overflow: hidden;
    padding: 7rem 1rem 1rem 1rem;
}*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    
}